body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 15px;
	color:#000;
	margin: 0px;
	padding:0px;
	background-color: #97a508;
    background-image: url(../images/bg.jpg);
    background-position: fixed;
    background-repeat: repeat-x;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	line-height:22px;
	color:#000;
}

h2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height:15px;
	color:#000;
}
h3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: none;
	font-size: 10px;
	line-height:2px;
	color:#000;
}

a:link {
	color:#0d82df;
	font-weight:bold;
}

a:visited {
	color: #0d82df;
}

a:hover, a:active {
	color:#48a627;
	background-color:none;
}

img
{  border-style: none;
}

#container
{
    border: none;
    width: 700px;
    height: auto;
    margin: 25px auto;
    padding: 20px;
    background-color: White;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#header {
width:680px;
height:150px;
margin:auto;
padding:10px;
background: url(../images/naturecarelogo.jpg);
}

#nav 
{
    margin:auto;
    padding:10px;
    background-color:#fff;
    width:680px;
}

#text {
	float:left;
	width:480px;
    height: 550px;
	background-color: #f9f9d2;
	padding:10px;
	border-bottom:10px solid #98a509;
	overflow:auto;
	
}
#pics {
	float:right;
	width:180px;
	height: 550px;
	background-color: #f9f9d2;
	padding:10px;
	top: 300 px;
	left: 300 px;
	border-bottom:10px solid #98a509;
}


#pageHeader span{
	display:none;
}

#footer 
{
	position: inherit;
	text-align:center;
	line-height:14px;
}
div.bottombar{ /* bar that runs across the bottom of the menu */
height: 10px;
background: #98a509;
}

ul.semiopaquemenu{ /* main menu UL */
font: bold 14px Tahoma, Geneva, sans-serif ;
width: 100%;
background: #1ec6df;
padding: 11px 0 8px 0; /* padding of the 4 sides of the menu */
margin: 0;
text-align: center; /* set value to "left", "center", or "right" to align menu accordingly */
}

ul.semiopaquemenu li{
display: inline;
}

ul.semiopaquemenu li a{
color:white;
padding: 6px 8px 6px 8px; /* padding of the 4 sides of each menu link */
margin-right: 15px; /* spacing between each menu link */
text-decoration: none;
}

ul.semiopaquemenu li a:hover, ul.semiopaquemenu li a.selected{
color: black;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); /* IE9+ SVG equivalent  of linear gradients */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.82) 0%, rgba(255,255,255,0.16) 100%); /* fade from white (0.82 opacty) to 0.16 opacity */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.82)), color-stop(100%,rgba(255,255,255,0.16)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
background: linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(255,255,255,0.16) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#29ffffff',GradientType=0 );
-moz-box-shadow: 0 0 5px #595959; /* CSS3 box shadows */
-webkit-box-shadow: 0 0 5px #595959;
box-shadow: 0 0 5px #595959;
padding-top: 12px; /* large padding to get menu item to protrude upwards */
padding-bottom: 20px; /* large padding to get menu item to protrude downwards */
}


